<!DOCTYPE html>
<html>
<head>
    <title>Request Headers</title>
</head>
<body>
    <h1>Request Headers</h1>
    <p>Click <a href="/">Back to Home</a> when done.</p>
    <ul>
        <% for (let header in headers) { %>
            <li><strong><%= header %>:</strong> <%= headers[header] %></li>
        <% } %>
    </ul>    
</body>
</html>