<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4"> 
      <p>This page will display the Request Headers</p>
      <script>
        const data = JSON.parse(JSON.stringify('<%- data %>'));
        console.log("Request Headers", data)
      </script>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>