<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>This Sample is create for Testing the Single Sign On Authentications. User Headers tab to display the authenticated user's headers</p>
      <p>User Headers tab to display the authenticated user's headers</p>      
    </div>
    <div class="col-sm-4"> 
      <p>User Headers tab to display the authenticated user's headers</p>
      <p>Use SAML tab for testing the SAML based authentications</p>
      <p>Use OAuth tab for testing the OAuth2.0 and OIDC based authentications</p>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>
